**아래 내용은 https://wikidocs.net/book/1 (점프투파이썬)과 '밑바닥부터 시작하는 데이터 과학' 책 내용을 참고하였습니다.**

# 1. 파이썬의 특징
- 무료다.
- 쉽다.
- 개발속도가 빠르다.
- 다양한 분야에 활용할 수 있다.
    - 파이썬으로 할 수 있는 일
        - GUI (Graphic User Interface)
        - C/C++와의 결합
        - 웹 프로그래밍
        - 수치 연산 프로그래밍
        - 데이터베이스 프로그래밍
        - 데이터 분석
    - 파이썬으로 할 수 없는 일
        - 시스템과 밀접한 프로그래밍 영역
        - 모바일 프로그래밍

# 2. 파이썬 자료형
- 자료형 (data type)
    - 자료의 한 속성으로써 컴퓨터와 프로그래머에게 어떤 종류의 자료를 다루고 있는지 알려준다
    - 프로그램의 기본이자 핵심 단위

## (1) 숫자형
- 숫자형(Number)이란 숫자 형태로 이루어진 자료형으로, 우리가 이미 잘 알고 있는 것들이다.

> ### 1) 정수형 (Integer)
- 정수를 뜻하는 자료형

In [2]:
a = 123

In [3]:
a

123

> ### 2) 실수형 (Floating - point)
- 소수점이 포함된 숫자

In [4]:
a = 1.2

In [5]:
a

1.2

## (2) 연산자

In [11]:
a = 3
b = 4

In [13]:
# 덧셈
a + b

7

In [14]:
# 곱셈
a*b

12

In [9]:
# 나눗셈
a/b

0.75

In [15]:
# 나눗셈 후 몫만 남기는 연산자

a//b

0

In [16]:
# 나눗셈 후 나머지만 남기는 연산자

a%b

3

In [17]:
# 제곱 연산

a**b

81

## (3) 문자열
- 문자, 단어 등으로 구성된 문자들의 집합
- 작은 따옴표 (') 또는 큰 따옴표 (")로 묶어 나타낸다.

In [18]:
single_quoted_string = 'data science'
double_quoted_string = "data science"

In [19]:
# - 몇몇 특수문자를 인코딩할 때 역슬래시를 사용한다.
#     - \t, \n, \', \" 등

tab_tring = '\t' # 탭을 의미하는 문자열

In [20]:
print(tab_tring)

In [21]:
print('hello \t world')

hello 	 world

In [25]:
# 큰따옴표나 작은따옴표를 세번 연속쓰면 여러 줄의 문자열을 한번에 입력할 수 있다.

multiline_string = """
data science
from scratch
"""

In [26]:
print(multiline_string)

data science
from scratch

> ### 1) 문자열 더해서 연결하기

In [27]:
head = "Python"
tail = " is fun!"

In [28]:
head + tail

'Python is fun!'

> ### 2) 문자열 곱하기

In [29]:
a = 'data'

In [30]:
a*2

'datadata'

In [31]:
'='*20 + 'data science' + '='*20

'====================data science===================='

> ### 3) 문자열 인덱싱과 슬라이싱
- 인덱싱(Indexing)이란 무엇인가를 "가리킨다"는 의미이고, 슬라이싱(Slicing)은 무엇인가를 "잘라낸다"는 의미이다.

In [32]:
a = 'Data Science Great'

In [34]:
a[0]

'D'

In [35]:
a[-1]

't'

In [38]:
a[:12]

'Data Science'

## (4) 리스트
- 순서가 있는 자료의 집합, 다른 언어의 배열과 유사하지만 기능이 좀 더 풍부하다.

In [74]:
integer_list = [1, 2, 3]
heterogeneous_list = ['string', 0.1, True]  ## 하나의 list에 여러 자료형이 들어갈 수 있다.
list_of_lists = [integer_list, [1.3, 4.5, heterogeneous_list]]

> ### 1) 익덱싱과 슬라이싱
- 문자열처럼 인덱싱과 슬라이싱이 가능하다.

In [69]:
# 인덱싱
integer_list[0]

1

In [70]:
# 슬라이싱
integer_list[1:]

[2, 3]

In [75]:
# 중첩 리스트 인덱싱

list_of_lists

[[1, 2, 3], [1.3, 4.5, ['string', 0.1, True]]]

In [76]:
list_of_lists[0]

[1, 2, 3]

In [77]:
list_of_lists[1]

[1.3, 4.5, ['string', 0.1, True]]

In [78]:
list_of_lists[1][2]

['string', 0.1, True]

In [80]:
list_of_lists[1][2][1]

0.1

In [84]:
# 중첩 리스트 슬라이싱
list_of_lists[1][:2]

[1.3, 4.5]

In [86]:
list_of_lists[1][2][1:]

[0.1, True]

> ### 2) 리스트 연산자

In [88]:
# 리스트 더하기
integer_list + [1.5, 1.9]

[1, 2, 3, 1.5, 1.9]

In [90]:
# 리스트 반복하기

integer_list*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

> ### 3) 리스트 수정, 변경, 삭제

In [91]:
# 하나의 값 수정하기

a = [1, 2, 3]

In [92]:
a[2] = 4

In [93]:
a

[1, 2, 4]

In [94]:
# 연속된 범위의 값 수정하기

a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
a[2:5] = ['data', 'science', 'from', 'scratch']

In [96]:
a

[1, 2, 'data', 'science', 'from', 'scratch', 6, 7, 8, 9, 10]

In [97]:
# [] 을 사용하여 리스트 요소 삭제하기

a[1:3] = []

In [98]:
a

[1, 'science', 'from', 'scratch', 6, 7, 8, 9, 10]

In [100]:
# del 함수를 사용해 리스트 요소 삭제하기

del a[1]

In [101]:
a

[1, 'from', 'scratch', 6, 7, 8, 9, 10]

> ### 4) 리스트 관련 함수들

In [1]:
# 리스트에 요소 추가 (append)

d = [10, 11, 12]

In [2]:
d.append(13)

In [3]:
d

[10, 11, 12, 13]

In [4]:
d.append([14, 15])

In [146]:
d

[10, 11, 12, 13, [14, 15]]

In [107]:
# 리스트 정렬 (sort)

In [5]:
d = [10, 15, 16, 23, 21,11, 1, 2]

In [109]:
d.sort()

In [110]:
d

[1, 2, 10, 11, 15, 16, 21, 23]

In [111]:
# 리스트 뒤집기 (reverse)

d = [1, 2, 3, 4]

In [112]:
d.reverse()

In [113]:
d

[4, 3, 2, 1]

In [114]:
# 리스트에 요소 삽입 (insert)

In [133]:
d = [1, 2, 3, 4]

In [134]:
d.insert(0, 19) # (index, object) 입력한 인덱스 앞 위치에 object를 삽입한다.

In [135]:
d

[19, 1, 2, 3, 4]

In [136]:
d.insert(-1, 100)

In [137]:
d

[19, 1, 2, 3, 100, 4]

In [ ]:
# 리스트 요소 제거 (remove)

In [150]:
a = [1, 2, 3, 1, 2, 3]

In [151]:
a.remove(3)

In [152]:
a # 값이 중복인 경우, 첫 번째 3만 제거된다.

[1, 2, 1, 2, 3]

In [153]:
# 리스트 요소 끄집어내기
a.pop()

3

In [154]:
a

[1, 2, 1, 2]

In [147]:
# 리스트 확장 (extend)

In [148]:
d.extend([1000, 10000])

In [149]:
d

[10, 11, 12, 13, [14, 15], 1000, 10000]

> ### 5) 리스트 복사

In [50]:
a = [1,2,3]
b = a
a[1] = 4

In [51]:
a

[1, 4, 3]

In [54]:
b # a의 값을 바꾸면 b의 값도 바뀐다.

[1, 4, 3]

In [55]:
# [:]를 이용해 복사할 수 있다.
a = [1,2,3]
b = a[:]
a[1] = 4

In [56]:
a

[1, 4, 3]

In [57]:
b

[1, 2, 3]

In [60]:
# copy 모듈을 이용해 복사할 수 있다.
from copy import copy

a = [1,2,3]
b = copy(a)
a[1] = 4

In [61]:
a

[1, 4, 3]

In [62]:
b

[1, 2, 3]

## (5) 튜플
- tuple은 변경할 수 없는 list이다. list에서 수정을 제외한 모든 기능을 tuple에서 적용할 수 있다.
- tuple은 대괄호 대신 괄호를 사용해서 (혹은 아무런 기호 없이) 정의한다.

In [160]:
my_tuple_1 = (1, 2, 3)
my_tuple_2 = 1, 2, 3    # 괄호를 생략하여도 튜플을 만들 수 있다.

In [161]:
my_tuple_2

(1, 2, 3)

In [156]:
my_tuple

(1, 2, 3)

In [157]:
my_tuple[1]

2

In [158]:
# 값 변경 불가
my_tuple[1] = 10

TypeError: 'tuple' object does not support item assignment

## (6) 딕셔너리
- 딕셔너리는 Key와 Value라는 것을 한 쌍으로 갖는 자료형이다.
- 딕셔너리는 리스트나 튜플처럼 순차적으로(sequential) 해당 요소값을 구하지 않고 Key를 통해 Value를 얻는다.
- key를 사용해 value를 빠르게 검색할 수 있다.
- {Key1:Value1, Key2:Value2, Key3:Value3 ...}

In [1]:
dic = {'apple' : '사과', 'banana' : '바나나', 'grape' : '포도'}

In [2]:
# 대괄호를 사용해서 key의 value를 불러올 수 있다.

dic['apple']

'사과'

In [3]:
# dict에 존재하지 않는 key를 입력하면 KeyError가 발생한다.
dic['orange']

KeyError: 'orange'

In [4]:
# dict에서 get 함수를 사용하면 입력한 key가 dict에 없어도 에러를 반환하지 않고 기본값을 반환해 준다.

dic.get('orange', 0)

0

> ### 주의 사항
 - key는 항상 unique 해야한다.

In [11]:
dic = {'오렌지' : 'orange', '오렌지' : 'Orange'}

In [12]:
dic  # 어떤 것이 무시될지 예측할 수 없다.

{'오렌지': 'Orange'}

In [13]:
# key로 튜플을 사용할 수 있다.
## 리스트는 사용불가.

In [14]:
dic = {('fruit', 'apple') : '사과', ('fruit', 'orange') : '오렌지'}

In [16]:
dic

{('fruit', 'apple'): '사과', ('fruit', 'orange'): '오렌지'}

In [15]:
dic[('fruit', 'apple')]

'사과'

In [17]:
data_dic = {'apple' : '사과', 'banana' : '바나나', 'grape' : '포도'}

In [18]:
# 특정 key 대신 dict의 모든 key를 한번에 살펴볼 수 있다.

data_dic.keys()

dict_keys(['grape', 'apple', 'banana'])

In [19]:
# dict의 value만 출력

data_dic.values()

dict_values(['포도', '사과', '바나나'])

In [20]:
# dict의 key, value 모두 출력

data_dic.items()

dict_items([('grape', '포도'), ('apple', '사과'), ('banana', '바나나')])

In [21]:
# 해당 Key가 딕셔너리 안에 있는지 조사할 수 있다.

'orane' in data_dic

False

In [22]:
'banana' in data_dic

True

## (7) 집합 자료형
- 집합에 관련된 것들을 쉽게 처리하기 위해 만들어진 자료형이다.
- set 이라는 내장함수를 통해 만들 수 있다.
- 중복을 허용하지 않는다.
    -  중복을 허용하지 않는 set의 특징은 자료형의 중복을 제거하기 위한 필터 역할로 종종 사용되기도 한다
- 순서가 없다(Unordered).

In [28]:
my_set = set([1, 2, 3, 1, 2, 1, 1, 1, 1, ])

In [29]:
my_set

{1, 2, 3}

In [30]:
# 교집합
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [31]:
s1 & s2

{4, 5, 6}

In [32]:
s1.intersection(s2)

{4, 5, 6}

In [33]:
# 합집합

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [34]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [35]:
# 차집합

s1-s2

{1, 2, 3}

In [36]:
s2-s1

{7, 8, 9}

In [37]:
s1.difference(s2)

{1, 2, 3}

In [38]:
# add를 이용해 1개의 값을 추가할 수 있다.

s1.add(10000)

In [39]:
s1

{1, 2, 3, 4, 5, 6, 10000}

In [41]:
# update를 이용해 여러 개의 값을 추가할 수 있다.

s1.update([70, 700, 7000])

In [42]:
s1

{1, 2, 3, 4, 5, 6, 70, 700, 7000, 10000}

In [43]:
# remove를 이용해 특정 값을 제거할 수 있다.
s1.remove(1)

In [44]:
s1

{2, 3, 4, 5, 6, 70, 700, 7000, 10000}

## (8) 불 자료형
- 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형이다.

In [45]:
1 < 2

True

In [46]:
True == False

False

> - 불리언 대신 다른값으로 불리언을 표현할 수 있게 해준다. 다음은 모두 거짓을 의미한다. (거짓을 의미하는 것이지 False를 의미하는 것은 아님)
    - False
    - None
    - []
    - {}
    - ""
    - set()
    - 0
    - 0.0

In [48]:
None == False

False